[submodule "topic"]
	path = topic
	url = https://github.com/qingyu0310/Dust_Zephyr_Architecture_Topic.git
[submodule "modules"]
	path = modules
	url = https://github.com/qingyu0310/Dust_Zephyr_Architecture_Modules.git
[submodule "drivers"]
	path = drivers
	url = https://github.com/qingyu0310/Dust_Zephyr_Architecture_Drivers.git
[submodule "cmd"]
	path = cmd
	url = https://github.com/qingyu0310/Dust_Zephyr_Architecture_Cmd.git
[submodule "algorithm"]
	path = algorithm
	url = https://github.com/qingyu0310/Dust_Zephyr_Architecture_Algorithm.git
[submodule "projects"]
	path = projects
	url = https://github.com/qingyu0310/Dust_Zephyr_Architecture_Projects.git
